/*--- Geral ---*/

*{
    margin: 0;
    padding: 0;
    font-family: Oxanium, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
}

/*--- Main ---*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--- Header ---*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selecaoTemas{
    margin-right: 1.5rem;
}
.logo{
    width: 5rem;
    margin: 0.8rem;
}
header button{
    font-size: 0.7rem;
    height: 1.2rem;
    width: 3rem;
    border: none;
    border-radius: 0.6rem;
}
header button:hover{
    cursor: pointer;
}
header p{
    font-size: 0.8rem;
    font-weight: bold;
}

/*--- Calculadora ---*/

.calcContainer{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: fit-content;
    padding: 2rem;
    border-radius: 25px;
}

/*--- Display ---*/

.calcDisplayContainer{
    width: 14rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #E5E5E5;
}
.calcDisplay{
    padding-left: 0.5rem;
    overflow-x: hidden;
    font-size: larger;
}

/*--- Botões ---*/

.calcBtnContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 14rem;
    justify-content: flex-start;
    max-height: 20rem;
}
.linhaBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14rem;
    margin-top: 0.5rem;
}
.calcBtn{
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    background-color: #CCC;
    cursor: pointer;
}
.calcBtn:hover{
    background-color: #919191;
}
.resultBtn{
    width: 6.666666rem;
    border-radius: 10px;
}

/*---Tema Escuro ---*/

.darkBody{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #2b2b2b;
}
.darkBody header{
    background-color: #242424;
}
.darkBody header button{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #383838; 
}
.darkBody header button:hover{
    background-color: #474747;
}

/*--- Tema Claro ---*/

.lightBody{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #ccc;
}
.lightBody header{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #666;
}
.lightBody header button{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #888; 
}
.lightBody header button:hover{
    background-color: #555;
}

/*--- Tema Roxo ---*/

.purpleSelected .selectedBtn{
    border: solid 2px #7171FF;
    transition: border 500ms;
}
.purpleSelected .text{
    color: #7171FF;
    transition: color 500ms;
}
.purpleSelected .calcContainer{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #474747;
}
.purpleSelected .calcBtn, .purpleSelected .calcDisplayContainer{
    transition: color 500ms ease;
    color: #474747;
}
.purpleSelected .resultCBtn{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease, color 500ms ease;
    background-Color: #FF1350;
    color: #ddd;
}
.purpleSelected .resultCBtn:hover{
    -webkit-transition: background-color 0ms ease;
    -ms-transition: background-color 0ms ease;
    transition: background-color 0ms ease;
    background-color: #aa0e37;
}
.purpleSelected .opBtn{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-Color: #7171ff;
    color: #474747;
}
.purpleSelected .opBtn:hover{
    -webkit-transition: background-color 0ms ease;
    -ms-transition: background-color 0ms ease;
    transition: background-color 0ms ease;
    background-color: #5151b3;
}
.purpleSelected .calcDisplayScroll{
    overflow-x: scroll;
    scrollbar-color: #474747 transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 500ms ease;
}
.purpleSelected .calcConversorSwitch button{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #7171ff;
}
.purpleSelected .calcConversorSwitch button:hover{
    -webkit-transition: background-color 0ms ease;
    -ms-transition: background-color 0ms ease;
    transition: background-color 0ms ease;
    background-color: #5151b3;
    cursor: pointer;
}

/*--- Tema Azul ---*/

.blueSelected .selectedBtn{
    border: solid 2px #1AB1C1;
    transition: border 500ms;
}
.blueSelected .text{
    transition: color 500ms;
    color: #1AB1C1;
}
.blueSelected .calcContainer{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #14505E;
}
.blueSelected .resultCBtn{
    color: #385A64;
}
.blueSelected .calcBtn, .blueSelected .calcDisplayContainer{
    transition: color 500ms ease;
    color: #385a64;
}
.blueSelected .opBtn{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #1AB1C1;
}
.blueSelected .opBtn:hover{
    -webkit-transition: background-color 0ms ease;
    -ms-transition: background-color 0ms ease;
    transition: background-color 0ms ease;
    background-color: #0d7681;
}
.blueSelected .resultCBtn{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #00DFC0;
}
.blueSelected .resultCBtn:hover{
    -webkit-transition: background-color 0ms ease;
    -ms-transition: background-color 0ms ease;
    transition: background-color 0ms ease;
    background-color: #008b79;
}
.blueSelected .calcDisplayScroll{
    overflow-x: scroll;
    scrollbar-color: #385A64 transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 500ms ease;
}
.blueSelected .calcConversorSwitch button{
    -webkit-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    background-color: #1AB1C1;
}
.blueSelected .calcConversorSwitch button:hover{
    -webkit-transition: background-color 0ms ease;
    -ms-transition: background-color 0ms ease;
    transition: background-color 0ms ease;
    background-color: #0d7681;
    cursor: pointer;
}

/*--- Botão de troca de display ---*/

.calcConversorSwitch button{
    font-size: 1rem;
    padding: 0.3rem;
    margin: 2rem;
    border-radius: 10px;
    color: #fff;
    border: none;
}

/*--- Conversor de Moedas ---*/

.conversorViewport{
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: none;
}
.conversorContainer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 40rem;
}
.conversorContainer label{
    font-size: medium;
}
#calcConversorSwitchBtn{
    font-size: 0.9rem;
    padding: 0.2rem;
    border-radius: 7px;
    border: none;
    color: #fff;
}
.valorContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.inputValor, .inputValor:focus{
    width: 6rem;
    height: 1.2rem;
    padding-top: 0.2rem;
    font-size: large;
    color: #474747;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    outline: none;
}
.currencySelector, .currencySelector option{
    font-size: medium;
}
.inputValorContainer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
}
.inputValorContainer p{
    font-size: 1.5rem;
    font-weight: lighter;
}
.currencySelector{
    background-color: transparent;
    margin-left: 0.5rem;
    padding: 0.2rem;
    border-radius: 5px;
    border: 0px solid;
    color: #474747;
}
.currencySelector option{
    background-color: #CCC;
}


/*--- Tema Escuro Conversor ---*/

.darkBody .inputValor{
    color: #CCC;
}
.darkBody .currencySelector{
    color: #CCC;
}
.darkBody .currencySelector option{
    background-color: #2b2b2b;
}

/*--- Tema Roxo Conversor ---*/

.purpleSelected .inputValorContainer{
    transition: border 500ms ease;
    border: 2px solid #7171ff;
}
.purpleSelected .inputValorContainer p{
    transition: color 500ms ease;
    color: #7171ff;
}

/*--- Tema Azul Conversor ---*/

.blueSelected .inputValorContainer{
    transition: border 500ms ease;
    border: 2px solid #1AB1C1;
}
.blueSelected .inputValorContainer p{
    transition: color 500ms ease;
    color: #1AB1C1;
}